---
import ProjectItem from "./ProjectItem.astro";
---

<section class="flex flex-col items-center px-8 py-14">
  <div class="flex max-w-[900px] grow flex-col space-y-16 text-center text-white">
    <p class="text-lg font-semibold tracking-wide drop-shadow-[0_0_8px_#FF5DA9]">
      Whether it be...
    </p>
    <div class="space-y-14">
      <ProjectItem
        img="https://cloud-a79ukykof-hack-club-bot.vercel.app/0outernet-127.jpg"
        description="a flamethrower guitar made from a toy guitar and a sunscreen bottle, that blows flames when played!"
      />
      <ProjectItem
        img="https://cloud-a79ukykof-hack-club-bot.vercel.app/0outernet-127.jpg"
        description="a flamethrower guitar made from a toy guitar and a sunscreen bottle, that blows flames when played!"
      />
    </div>
    <div class="space-y-3 drop-shadow-[0_0_8px_#FF5DA9]">
      <p>
        We believe you have the skills, knowledge, and creativity to spark a new era of
        survival.
      </p>
      <p class="text-bold">So, what will you make?</p>
    </div>
  </div>
</section>
