---
const { img, description } = Astro.props;
---

<div class="grid space-y-4 sm:grid-cols-2 sm:space-y-0">
  <div class="flex justify-center">
    <img
      src={img}
      alt={description}
      width="200px"
      height="260px"
      class="h-[260px] w-full rounded-2xl object-cover sm:w-[400px]"
    />
  </div>
  <div class="mx-8 flex items-center drop-shadow-[0_0_8px_#FF5DA9] md:mx-20">
    <p>{description}</p>
  </div>
</div>
