---
import ProjectItem from "./ProjectItem.astro";
---

<section class="flex flex-col items-center px-8 py-20">
  <div class="flex max-w-[900px] grow flex-col space-y-16 text-center text-white">
    <p class="text-2xl font-semibold tracking-wide drop-shadow-[0_0_8px_#FF5DA9]">
      Whether it be...
    </p>
    <div class="space-y-14">
      <ProjectItem
        img="https://cloud-a79ukykof-hack-club-bot.vercel.app/0outernet-127.jpg"
        description="a flamethrower guitar made from a toy guitar and a sunscreen bottle, that blows flames when played!"
        credit="Outernet"
        creditLink="https://outernet.hackclub.com"
      />
      <ProjectItem
        img="https://cloud-fo135ts22-hack-club-bot.vercel.app/0hack_club_assemble_ltnj_01238.jpg"
        description="or make a game to help you navigate the world with JavaScript, using Hack Club Sprig."
        credit="Assemble"
        creditLink="https://assemble.hackclub.com"
      />
    </div>
    <div class="space-y-3 text-xl drop-shadow-[0_0_8px_#FF5DA9]">
      <p>
        We believe you have the skills, knowledge, and creativity to spark a new era of
        survival.
      </p>
      <p class="font-bold">So, what will you make?</p>
    </div>
  </div>
</section>
