{
  "plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"],
  "_dev_notes": [
    "https://github.com/tailwindlabs/prettier-plugin-tailwindcss#compatibility-with-other-prettier-plugins"
  ]
}
