---
import FAQCard from "./FAQCard.astro";
---

<section
  class="flex justify-center bg-black/40 px-8 py-3 shadow-[inset_0_16px_rgba(0,0,0,0.3)]"
>
  <div class="flex max-w-[1000px] grow flex-col space-y-14 py-16 text-center text-white">
    <div class="space-y-3 drop-shadow-[0_0_8px_#FF5DA9]">
      <p class="text-4xl font-bold">FAQ</p>
      <p class="text-lg font-bold">You got questions? We got answers :D</p>
    </div>
    <div class="grid grid-cols-1 gap-x-8 gap-y-6 md:grid-cols-2">
      <FAQCard
        question="What is this?"
        answer="This is the Apocalypse website, currently under construction."
        cardId={0}
      />
      <FAQCard
        question="Is this free?"
        answer="It’s 100% free, thanks to the generous support of your sponsors."
        cardId={1}
      />
      <FAQCard
        question="Am I eligible?"
        answer="All high school students and teenagers are welcome to attend. A student ID or any other sort of verification will be required during check in."
        cardId={2}
      />
      <FAQCard
        question="What do I need to bring?"
        answer="You’ll need to bring a student ID (or any other verification), a laptop and other tech, a sleeping bag, toiletries, and anything else you need!"
        cardId={3}
      />
      <FAQCard
        question="Do I need a team?"
        answer="Teams are not required, but highly encouraged. Bring your own team or friends or come alone. We'll have icebreaker activities to help group together attendees without a team, so no worries!"
        cardId={4}
      />
      <FAQCard
        question="What is the event like? Is it safe? My parents are worried—who should they talk to?"
        answer="There will be free full meals and refreshments for the entire duration of the event. Workshops and activities will be held throughout the event. Adult supervision will be present at all times with access restricted to participants."
        cardId={5}
      />
      <FAQCard question="Do I need technical experience?" answer="Beginners and experienced makers alike are welcome!" cardId={6} />
      <FAQCard
        question="Who’s running this?"
        answer="We're a group of teenagers from across Southern Ontario who have run hackathons like this before. You may have attended AngelHacks Toronto and Haunted House Toronto—we ran those! We're fiscally sponsored by Hack Club, a 501(c)(3) nonprofit."
        cardId={7}
      />
    </div>
  </div>
</section>
