---
import FAQCard from "./FAQCard.astro";
---

<section class="flex justify-center bg-dark-bg px-8 py-14">
  <div class="flex max-w-[900px] grow flex-col space-y-12 text-center text-white">
    <div class="space-y-3 drop-shadow-[0_0_8px_#FF5DA9]">
      <p class="text-4xl font-bold">FAQ</p>
      <p class="text-lg font-bold">You got questions? We got answers :D</p>
    </div>
    <div class="grid grid-cols-2 gap-x-8 gap-y-6">
      <FAQCard
        question="What is this?"
        answer="This is the Apocalypse website, currently under construction."
        cardId={0}
      />
      <FAQCard
        question="Lorem ipsum dolor sit amet?"
        answer="Praesent accumsan sodales risus, in tempus orci lobortis vel. Sed nunc lorem, dictum sit amet auctor a, maximus vitae ante. Cras sagittis elementum leo, eget vulputate sapien pharetra quis. "
        cardId={1}
      />
      <FAQCard
        question="Suspendisse potenti. Duis volutpat nulla in erat posuere blandit?"
        answer="Fusce aliquet eros id finibus porttitor. In convallis aliquet ipsum, sed congue metus congue ultrices. Duis lobortis est vel metus efficitur bibendum. Fusce mattis diam at laoreet lacinia."
        cardId={2}
      />
      <FAQCard
        question="Phasellus tristique pellentesque lorem nec condimentum?"
        answer="Phasellus efficitur cursus nulla, ut hendrerit diam ornare ac. Praesent aliquam lobortis erat eget semper."
        cardId={3}
      />
      <FAQCard
        question="Nullam sollicitudin mattis tellus, non ornare ipsum porttitor id?"
        answer="Vivamus ut velit eu felis euismod volutpat id blandit dui. Nulla maximus vel odio id malesuada."
        cardId={4}
      />
      <FAQCard
        question="Orci varius natoque penatibus et magnis dis parturient montes?"
        answer="Praesent luctus leo non euismod suscipit. Vestibulum molestie felis augue, faucibus tincidunt mi tincidunt vitae?"
        cardId={4}
      />
    </div>
  </div>
</section>
