<section class="flex w-screen justify-center px-4 pt-6 sm:px-6 sm:pt-8 lg:px-10 lg:pt-12">
  <div class="max-w-6xl grow">
    <div class="flex flex-col space-y-1 lg:flex-row lg:items-center lg:space-y-0">
      <div class="flex grow flex-row items-center space-x-2">
        <img src="/apotitle.png" alt="Apocalypse Logo" class="h-12 xs:h-16 sm:h-28" />
        <h1
          class="grow text-right text-2xl leading-4 drop-shadow-[0_0_4px_#FF5DA9] xs:text-3xl xs:leading-6 sm:text-5xl sm:leading-10 lg:-mt-2 lg:text-left"
        >
          Event<br />Information
        </h1>
      </div>
      <div
        class="text-center font-sans text-xs xs:text-sm sm:text-xl lg:ml-auto lg:space-y-3 lg:text-right"
      >
        <p>May 17, 6 PM - May 19, 2 PM • Shopify Toronto</p>
        <p>
          Need urgent help? Call <a href="tel:+18556254225" class="hover:underline"
            >+1 (855) 625-4225</a
          >
        </p>
      </div>
    </div>

    <div class="my-3 h-0 border-t"></div>
  </div>
</section>
