<section class="flex w-screen justify-center px-10 pt-12">
  <div class="max-w-6xl grow">
    <div class="flex items-center">
      <div class="flex flex-row items-center space-x-2">
        <img src="/apotitle.png" alt="Apocalypse Logo" class="h-28" />
        <h1 class="-mt-2 text-5xl leading-10 drop-shadow-[0_0_4px_#FF5DA9]">
          Event<br />Information
        </h1>
      </div>
      <div class="ml-auto space-y-3 text-right font-sans text-xl">
        <p>May 17, 6:00 PM - May 19, 2:00 PM • Shopify Toronto</p>
        <p>
          Need urgent help? Call <a href="tel:+18556254225" class="hover:underline"
            >+1 (855) 625-4225</a
          >
        </p>
      </div>
    </div>

    <div class="my-3 h-0 border-t"></div>
  </div>
</section>
