---
import LinkCard from "./LinkCard.astro";
---

<section class="flex w-screen justify-center px-4 sm:px-6 lg:px-10">
  <div class="max-w-6xl grow sm:space-y-3">
    <h2 class="text-3xl sm:text-5xl">Quick Links</h2>
    <div
      class="grid grid-rows-1 items-stretch gap-4 sm:grid-cols-2 sm:gap-6 lg:grid-cols-3 lg:gap-8"
    >
      <LinkCard name="How to get here" link="/travel">
        <p>Read our guide on travelling to Apocalypse.</p>
      </LinkCard>
      <LinkCard name="ID policy" link="/id">
        <p>Make sure you have an accepted form of physical photo ID at entry.</p>
      </LinkCard>
      <LinkCard name="Packing List" link="/packing">
        <p>Check over this list to ensure you've brought everything you need!</p>
      </LinkCard>
      <LinkCard name="Parents' Guide" link="/parents">
        <p>Learn more about how Apocalypse will be a safe experience for your child.</p>
      </LinkCard>
      <LinkCard name="Teachers' Guide" link="/teachers">
        <p>Learn more about how your students can benefit from attending Apocalypse!</p>
      </LinkCard>
      <LinkCard name="Showers" link="/showers">
        <p>Be respectful of the shower space and bring your own soap or body wash. Towels are provided.</p>
      </LinkCard>
    </div>
  </div>
</section>

<style>
  .schedule-h {
    height: max(420px, 40vh);
  }
</style>
