---
import LinkCard from "./LinkCard.astro";
---

<section class="flex w-screen justify-center px-4 sm:px-6 lg:px-10">
  <div class="max-w-6xl grow sm:space-y-3">
    <h2 class="text-3xl sm:text-5xl">Quick Links</h2>
    <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 sm:gap-6 lg:grid-cols-3 lg:gap-8">
      <LinkCard name="Blahaj" cardId="1">
        <p>🦈 wfesdcxhoihwefsoidzcxhoihioh oihgioqw weoieihsah qwopegjpoja hi</p>
      </LinkCard>
      <LinkCard name="Blahaj" cardId="1">
        <p>🦈 wfesdcxhoihwefsoidzcxhoihioh oihgioqw weoieihsah qwopegjpoja hi</p>
      </LinkCard>
      <LinkCard name="Blahaj" cardId="1">
        <p>🦈 wfesdcxhoihwefsoidzcxhoihioh oihgioqw weoieihsah qwopegjpoja hi</p>
      </LinkCard>
      <LinkCard name="Blahaj" cardId="1">
        <p>🦈 wfesdcxhoihwefsoidzcxhoihioh oihgioqw weoieihsah qwopegjpoja hi</p>
      </LinkCard>
      <LinkCard name="Blahaj" cardId="1">
        <p>🦈 wfesdcxhoihwefsoidzcxhoihioh oihgioqw weoieihsah qwopegjpoja hi</p>
      </LinkCard>
      <LinkCard name="Blahaj" cardId="1">
        <p>🦈 wfesdcxhoihwefsoidzcxhoihioh oihgioqw weoieihsah qwopegjpoja hi</p>
      </LinkCard>
      <LinkCard name="Blahaj" cardId="1">
        <p>🦈 wfesdcxhoihwefsoidzcxhoihioh oihgioqw weoieihsah qwopegjpoja hi</p>
      </LinkCard>
      <LinkCard name="Blahaj" cardId="1">
        <p>🦈 wfesdcxhoihwefsoidzcxhoihioh oihgioqw weoieihsah qwopegjpoja hi</p>
      </LinkCard>
      <LinkCard name="Blahaj" cardId="1">
        <p>🦈 wfesdcxhoihwefsoidzcxhoihioh oihgioqw weoieihsah qwopegjpoja hi</p>
      </LinkCard>
      <LinkCard name="Blahaj" cardId="1">
        <p>🦈 wfesdcxhoihwefsoidzcxhoihioh oihgioqw weoieihsah qwopegjpoja hi</p>
      </LinkCard>
      <LinkCard name="Blahaj" cardId="1">
        <p>🦈 wfesdcxhoihwefsoidzcxhoihioh oihgioqw weoieihsah qwopegjpoja hi</p>
      </LinkCard>
      <LinkCard name="Blahaj" cardId="1">
        <p>🦈 wfesdcxhoihwefsoidzcxhoihioh oihgioqw weoieihsah qwopegjpoja hi</p>
      </LinkCard>
    </div>
  </div>
</section>

<style>
  .schedule-h {
    height: max(420px, 40vh);
  }
</style>
