---
import LinkCard from "./LinkCard.astro";
---

<section class="flex w-screen justify-center">
  <div class="max-w-6xl grow space-y-3">
    <h2 class="text-5xl">Quick Links</h2>
    <div class="grid grid-cols-3 gap-10">
      <LinkCard name="Blahaj" cardId="1">
        <p>🦈 wfesdcxhoihwefsoidzcxhoihioh oihgioqw weoieihsah qwopegjpoja hi</p>
      </LinkCard>
      <LinkCard name="Blahaj" cardId="1">
        <p>🦈 wfesdcxhoihwefsoidzcxhoihioh oihgioqw weoieihsah qwopegjpoja hi</p>
      </LinkCard>
      <LinkCard name="Blahaj" cardId="1">
        <p>🦈 wfesdcxhoihwefsoidzcxhoihioh oihgioqw weoieihsah qwopegjpoja hi</p>
      </LinkCard>
      <LinkCard name="Blahaj" cardId="1">
        <p>🦈 wfesdcxhoihwefsoidzcxhoihioh oihgioqw weoieihsah qwopegjpoja hi</p>
      </LinkCard>
      <LinkCard name="Blahaj" cardId="1">
        <p>🦈 wfesdcxhoihwefsoidzcxhoihioh oihgioqw weoieihsah qwopegjpoja hi</p>
      </LinkCard>
      <LinkCard name="Blahaj" cardId="1">
        <p>🦈 wfesdcxhoihwefsoidzcxhoihioh oihgioqw weoieihsah qwopegjpoja hi</p>
      </LinkCard>
      <LinkCard name="Blahaj" cardId="1">
        <p>🦈 wfesdcxhoihwefsoidzcxhoihioh oihgioqw weoieihsah qwopegjpoja hi</p>
      </LinkCard>
      <LinkCard name="Blahaj" cardId="1">
        <p>🦈 wfesdcxhoihwefsoidzcxhoihioh oihgioqw weoieihsah qwopegjpoja hi</p>
      </LinkCard>
      <LinkCard name="Blahaj" cardId="1">
        <p>🦈 wfesdcxhoihwefsoidzcxhoihioh oihgioqw weoieihsah qwopegjpoja hi</p>
      </LinkCard>
      <LinkCard name="Blahaj" cardId="1">
        <p>🦈 wfesdcxhoihwefsoidzcxhoihioh oihgioqw weoieihsah qwopegjpoja hi</p>
      </LinkCard>
      <LinkCard name="Blahaj" cardId="1">
        <p>🦈 wfesdcxhoihwefsoidzcxhoihioh oihgioqw weoieihsah qwopegjpoja hi</p>
      </LinkCard>
      <LinkCard name="Blahaj" cardId="1">
        <p>🦈 wfesdcxhoihwefsoidzcxhoihioh oihgioqw weoieihsah qwopegjpoja hi</p>
      </LinkCard>
    </div>
  </div>
</section>

<style>
  .schedule-h {
    height: max(420px, 40vh);
  }
</style>
