<section class="flex w-screen justify-center">
  <div class="max-w-6xl grow space-y-3 pt-4">
    <div class="flex items-baseline">
      <h2 class="text-5xl">Live Schedule</h2>
      <a
        href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
        target="_blank"
        class="ml-auto font-sans text-xl text-violet-100 hover:underline"
      >
        <p>View Full Schedule</p>
      </a>
    </div>
    <!-- Schedule Calendar -->
    <div class="schedule-h bg-black/40"></div>
  </div>
</section>

<style>
  .schedule-h {
    height: max(420px, 40vh);
  }
</style>
