---
import { GET } from "../../../pages/api/schedule/events";
import Calendar from "./Calendar.svelte";

let resp;

try {
  resp = await GET();
} catch (e) {
  console.error(e);
}
---

<section class="flex w-screen justify-center px-4 sm:px-6 lg:px-10">
  <div class="max-w-6xl grow pt-4">
    <div class="mb-3 flex items-baseline">
      <h2 class="text-2xl xs:text-3xl sm:text-5xl">Live Schedule</h2>
      <a
        href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
        target="_blank"
        class="ml-auto font-sans text-xs text-violet-100 hover:underline xs:text-sm sm:text-xl"
      >
        <p>View Full Schedule</p>
      </a>
    </div>
    <!-- Schedule Calendar -->
    <div class="schedule-h overflow-y-scroll overscroll-none">
      <Calendar
        client:load
        preJson={resp != undefined ? await resp.json() : undefined}
        preHeaders={resp != undefined ? Object.fromEntries(resp.headers) : undefined}
      />
    </div>
  </div>
</section>

<style>
  .schedule-h {
    height: max(420px, 40vh);
  }
</style>
