---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 - Apocalypse: Toronto's zombified high school hackathon!">
  <div class="flex min-h-screen flex-col">
    <main class="flex grow items-center justify-center">
      <div
        class="pattern rotate-1 rounded-sm border-4 border-accent px-48 py-20 text-center"
      >
        <h1 class="text-[14rem] leading-[10rem]">404!</h1>
        <p class="font-sans text-violet-200">Umm... It seems like you're lost.</p>
        <a
          href="/"
          class="mt-12 block -rotate-1 font-sans text-lg drop-shadow-[0_0_4px_#FF5DA9] hover:underline"
          >Go back home</a
        >
      </div>
    </main>
  </div>
</Layout>

<style>
  .pattern {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23ffffff' fill-opacity='0.1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E"),
      linear-gradient(#5b21b6 0%, rgb(64 25 134) 100%);
  }
</style>
