---
import Header from "../components/Info/Header.astro";
import Links from "../components/Info/Links.astro";
import Schedule from "../components/Info/Schedule.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Apocalypse: Event Information">
  <Header />
  <div class="space-y-8 pt-4">
    <Schedule />
    <Links />
  </div>
</Layout>

<style></style>
