---
import CallToAction from "../components/CallToAction.astro";
import FAQ from "../components/FAQ/FAQ.astro";
import Hero from "../components/Hero.astro";
import Letter from "../components/Letter.astro";
import Projects from "../components/Projects/Projects.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Apocalypse: Survive the zombies!">
  <Hero />
  <main>
    <Letter />
    <Projects />
    <FAQ />
  </main>
</Layout>
