---
import Bento from "../components/Bento.astro";
import FAQ from "../components/FAQ/FAQ.astro";
import Hero from "../components/Hero.svelte";
import Layout from "../layouts/Layout.astro";
import Letter from "../components/Letter.astro";
import Footer from "../components/Footer.astro";
import NavBar from "../components/NavBar.astro";
---

<Layout title="Apocalypse: Toronto's zombified high school hackathon!">
  <Hero client:load />
  <main>
    <NavBar />
    <Letter />
    <Bento />
    <FAQ />
  </main>
  <footer>
    <Footer />
  </footer>
</Layout>
