---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Apocalypse 2024">
  <div
    style="background-image: radial-gradient(#6692cf 0%, #401986 70%);"
    class="h-screen flex flex-col items-center"
  >
    <div
      class="flex items-end justify-center w-full max-h-[50vh] overflow-hidden"
    >
      <img class="object-cover w-full" src="/top.svg" alt="Top Graphic" />
    </div>
    <div class="text-white text-center space-y-11 max-w-[1200px]">
      <div class="space-y-3">
        <p class="uppercase text-2xl tracking-wide">Welcome to the</p>
        <h1 class="uppercase text-8xl tracking-wide">Apocalypse</h1>
        <p class="text-2xl tracking-wide">Location TBA - March 8-10th, 2024</p>
      </div>
      <div>
        <a
          href="#"
          class="bg-secondary-bg px-10 py-3 mt-3 rounded-full text-2xl tracking-wide"
        >
          Apply now!
        </a>
      </div>
      <div>
        <p class="text-2xl">
          a <span class="font-bold text-accent">high school hackathon</span>
           where you can build anything <span
            id="changingText"
            class="inline-block motion-safe:duration-200 motion-safe:transition-all underline decoration-wavy decoration-1 decoration-accent"
            >fun</span
          >
           so long as it helps us <span class="font-bold text-accent"
            >survive</span
          >
        </p>
      </div>
    </div>
  </div>
</Layout>
<script>
  const changingText = document.getElementById("changingText");
  const words = ["fun", "weird", "wacky"];
  let i = 1;
  setInterval(() => {
    changingText.classList.add("motion-safe:-translate-y-3");
    changingText.classList.add("motion-safe:opacity-0");

    setTimeout(() => {
      changingText.innerText = words[i];
      changingText.classList.remove("motion-safe:-translate-y-3");
      changingText.classList.add("motion-safe:translate-y-3");
      i++;
      if (i >= words.length) i = 0;
    }, 200);

    setTimeout(() => {
      changingText.classList.remove("motion-safe:translate-y-3");
      changingText.classList.remove("motion-safe:opacity-0");
    }, 400);
  }, 5000);
</script>
