---
import Hero from "../components/Hero.astro";
import Letter from "../components/Letter.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Apocalypse: Survive the zombies!">
  <Hero />
  <main>
    <Letter />
  </main>
</Layout>
