---
import Bento from "../components/Bento.astro";
import FAQ from "../components/FAQ/FAQ.astro";
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import Letter from "../components/Letter.astro";
import Sponsors from "../components/Sponsors/Sponsors.astro";
---

<Layout title="Apocalypse: Hack your survival!">
  <Hero />
  <main>
    <Letter />
    <!-- <Bento /> -->
    <Sponsors />
    <FAQ />
  </main>
</Layout>
