<section class="bg-dark-bg flex justify-center px-4 py-14">
  <div class="flex max-w-[900px] grow flex-col space-y-6 text-center text-white">
    <p class="text-2xl">
      Join <span class="font-bold text-accent">150 hackers</span> like you for
      <span class="font-bold text-accent2">42 hours</span> at our safehouse.
    </p>
    <p class="text-dark text-2xl font-semibold">
      Build something, <span class="italic">anything</span>, to helps us survive this
      apocalypse.
    </p>
  </div>
</section>
