<div class="bg-dark-bg ">
    <div class="bg-black/40 text-center pb-6 text-sm font-sans group text-purple-100">
        <p class="">An event crafted with <span class="group-hover:text-pink-400 text-base">&#9829;</span> by students</p>
        <p>Our <a href="https://github.com/mutammim/apohacks" target="_blank"  class="underline decoration-purple-100/50 hover:decoration-purple-100">website</a> and <a href="https://hcb.hackclub.com/apocalypse" target="_blank"  class="underline decoration-purple-100/50 hover:decoration-purple-100">finances</a> are open and transparent</p>
        <p>Inquiries? Contact us at <a href="mailto:team@apohacks.com" target="_blank" class="underline decoration-purple-100/50 hover:decoration-purple-100">team@apohacks.com</a></p>
    </div>
</div>