<div class="bg-dark-bg">
  <div class="group bg-black/40 pb-6 text-center font-sans text-sm text-purple-100">
    <p class="">
      An event crafted with <span class="text-base group-hover:text-pink-400"
        >&#9829;</span
      > by students
    </p>
    <p>
      Our <a
        href="https://github.com/hackclub/apocalypse"
        target="_blank"
        class="underline decoration-purple-100/50 hover:decoration-purple-100">website</a
      > and <a
        href="https://hcb.hackclub.com/apocalypse"
        target="_blank"
        class="underline decoration-purple-100/50 hover:decoration-purple-100">finances</a
      > are open and transparent
    </p>
    <p>
      Inquiries? Contact us at <a
        href="mailto:apocalypse@hackclub.com"
        target="_blank"
        class="underline decoration-purple-100/50 hover:decoration-purple-100"
        >apocalypse@hackclub.com</a
      >
    </p>
  </div>
</div>
