<header
  style="background-image: radial-gradient(#5b21b6 0%, #28184d 70%);"
  class="flex flex-col items-center pb-20"
>
  <!-- ----------------------------- Top graphic ----------------------------- -->

  <div class="flex max-h-[35vh] w-full items-end justify-center overflow-hidden">
    <img class="w-full object-cover" src="/top.svg" alt="Top Graphic" />
  </div>

  <!-- ------------------------- Title and subtitles ------------------------- -->

  <div
    class="mt-6 flex max-w-[1000px] grow flex-col space-y-5 px-8 text-center text-white xs:space-y-7 sm:mx-11 sm:mt-0 sm:space-y-10"
  >
    <div class="space-y-2 md:space-y-3">
      <div class="flex flex-col">
        <p class="text-sm uppercase tracking-wide xs:text-lg sm:text-2xl">
          Welcome to the
        </p>

        <img src="apotitle.png" class="max-h-48 w-auto self-center drop-shadow-2xl" />
      </div>

      <p class="text-sm tracking-wide xs:text-lg sm:text-2xl">
        Toronto — Tentatively March 15–17th, 2024
      </p>

      <div class="flex flex-col">
        <p class="xs:text-md text-sm tracking-wide sm:text-lg">
          Get notified when registrations open!
        </p>

        <!-- TODO, make this a HTML form -->
        <form
          action="https://postal.hackclub.com/subscribe"
          method="POST"
          accept-charset="utf-8"
          class="mt-3 flex self-center overflow-clip rounded-md bg-dark-bg shadow-[inset_5px_5px_rgba(0,0,0,0.3)]"
          id="email-form"
        >
          <input
            class="bg-transparent py-2 pl-4 text-sm placeholder-white placeholder-opacity-75 focus:outline-none sm:py-3 sm:pl-6 sm:text-lg md:text-xl"
            placeholder="you@example.com"
            type="email"
            name="email"
            id="email"
          />

          <input type="hidden" name="list" value="YAbJpY892wYYel892gyGNghouQ" />
          <input type="hidden" name="subform" value="yes" />

          <label
            for="submit"
            id="email-button"
            class="flex items-center px-4 py-2 text-sm sm:px-7 sm:py-3 sm:text-lg md:text-xl"
          >
            <svg
              id="todo"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              class="h-4 w-4 fill-white sm:h-6 sm:w-6"
            >
              <path
                d="M3.478 2.405a.75.75 0 00-.926.94l2.432 7.905H13.5a.75.75 0 010 1.5H4.984l-2.432 7.905a.75.75 0 00.926.94 60.519 60.519 0 0018.445-8.986.75.75 0 000-1.218A60.517 60.517 0 003.478 2.405z"
              ></path>
            </svg>
            <svg
              class="hidden h-4 w-4 animate-spin text-white sm:h-6 sm:w-6"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              id="loading"
            >
              <circle
                class="opacity-25"
                cx="12"
                cy="12"
                r="10"
                stroke="currentColor"
                stroke-width="4"></circle>
              <path
                class="opacity-75"
                fill="currentColor"
                d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
              ></path>
            </svg>
            <svg
              id="done"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              class="hidden h-6 w-6 fill-white"
            >
              <path
                fill-rule="evenodd"
                d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z"
                clip-rule="evenodd"></path>
            </svg>
          </label>
          <input type="submit" name="submit" id="submit" value="" class="w-0" />
        </form>
      </div>
    </div>

    <!-- ----------------------------- Bottom text ----------------------------- -->

    <div>
      <p class="xs:text-lg md:text-xl">
        A <span class="font-bold text-accent">high school hackathon</span>
         where you make <span
          id="changingText"
          class="inline-block underline decoration-accent decoration-wavy decoration-1 motion-safe:transition-all motion-safe:duration-200"
          >fun</span
        >
         things to <span class="font-bold text-accent">survive</span> the zombie
        apocalypse.
      </p>
    </div>
  </div>

  <script>
    const changingText = document.getElementById("changingText");
    const words = ["fun", "weird", "wacky"];
    let i = 1;

    setInterval(() => {
      changingText.classList.add("motion-safe:-translate-y-3");
      changingText.classList.add("motion-safe:opacity-0");

      setTimeout(() => {
        changingText.innerText = words[i];
        changingText.classList.remove("motion-safe:-translate-y-3");
        changingText.classList.add("motion-safe:translate-y-3");
        i++;
        if (i >= words.length) i = 0;
      }, 200);

      setTimeout(() => {
        changingText.classList.remove("motion-safe:translate-y-3");
        changingText.classList.remove("motion-safe:opacity-0");
      }, 400);
    }, 5000);

    document.getElementById("email-form").addEventListener("submit", (e) => {
      e.preventDefault();

      fetch("/lists/subscribe", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          email: (document.getElementById("email") as HTMLFormElement).value,
        }),
      })
        .then((res) => {
          if (res.status === 200) {
            document.querySelector("#email-button #todo").classList.add("hidden");
            document.querySelector("#email-button #loading").classList.add("hidden");
            document.querySelector("#email-button #done").classList.remove("hidden");
            document.querySelector("#email-form #email").removeAttribute("disabled");
            document
              .querySelector("#email-form #submit")
              .setAttribute("disabled", "true");
          } else {
            document.querySelector("#email-button #todo").classList.remove("hidden");
            document.querySelector("#email-button #loading").classList.add("hidden");
            document.querySelector("#email-button #done").classList.add("hidden");
            document.querySelector("#email-form #email").removeAttribute("disabled");
          }
        })
        .catch(() => {
          document.querySelector("#email-button #todo").classList.remove("hidden");
          document.querySelector("#email-button #loading").classList.add("hidden");
          document.querySelector("#email-button #done").classList.add("hidden");
          document.querySelector("#email-form #email").removeAttribute("disabled");
        });

      document.querySelector("#email-form #email").setAttribute("disabled", "true");
      document.querySelector("#email-button #todo").classList.add("hidden");
      document.querySelector("#email-button #loading").classList.remove("hidden");
    });

    document.querySelector("#email-form #email").addEventListener("keydown", (e) => {
      document.querySelector("#email-button #todo").classList.remove("hidden");
      document.querySelector("#email-button #loading").classList.add("hidden");
      document.querySelector("#email-button #done").classList.add("hidden");
      document.querySelector("#email-form #submit").removeAttribute("disabled");
    });
  </script>
</header>
