<header
  style="background-image: radial-gradient(#5b21b6 0%, #28184d 70%);"
  class="flex flex-col items-center pb-20"
>
  <!-- ----------------------------- Top graphic ----------------------------- -->

  <div class="flex max-h-[35vh] w-full items-end justify-center overflow-hidden">
    <img class="w-full object-cover" src="/top.svg" alt="Top Graphic" />
  </div>

  <!-- ------------------------- Title and subtitles ------------------------- -->

  <div
    class="mt-6 flex max-w-[900px] grow flex-col space-y-5 px-8 text-center text-white xs:space-y-7 sm:mx-11 sm:mt-0 sm:space-y-10"
  >
    <div class="space-y-2 md:space-y-3">
      <div class="flex flex-col">
        <p class="text-sm uppercase tracking-wide xs:text-lg sm:text-2xl">
          Welcome to the
        </p>

        <!-- <h1
          class="bg-gradient-to-b from-accent from-30% to-accent2 to-80% bg-clip-text text-3xl font-bold uppercase tracking-wide text-transparent drop-shadow-xl xs:text-4xl sm:text-6xl md:text-8xl"
        >
          Apocalypse
        </h1> -->

        <img src="apotitle.png" class="max-h-48 w-auto self-center drop-shadow-2xl" />
      </div>

      <p class="text-sm tracking-wide xs:text-lg sm:text-2xl">
        Location TBA — March 8–10th, 2024
      </p>

      <div class="flex flex-col">
        <p class="xs:text-md text-sm tracking-wide sm:text-lg">
          Get notified when registrations open!
        </p>

        <!-- TODO, make this a HTML form -->
        <div
          class="mt-3 flex self-center overflow-clip border-2 border-accent2 bg-dark-bg"
        >
          <input
            class="bg-transparent py-2 pl-4 text-sm placeholder-accent2 placeholder-opacity-75 focus:outline-none sm:py-3 sm:pl-6 sm:text-lg md:text-xl"
            placeholder="you@example.com"
          />

          <button
            id="email-button"
            class="bg-dark-bg px-4 py-2 text-sm sm:px-7 sm:py-3 sm:text-lg md:text-xl"
          >
            <svg
              id="todo"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              class="h-4 w-4 fill-accent2 sm:h-6 sm:w-6"
            >
              <path
                d="M3.478 2.405a.75.75 0 00-.926.94l2.432 7.905H13.5a.75.75 0 010 1.5H4.984l-2.432 7.905a.75.75 0 00.926.94 60.519 60.519 0 0018.445-8.986.75.75 0 000-1.218A60.517 60.517 0 003.478 2.405z"
              ></path>
            </svg>

            <svg
              id="done"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              class="hidden h-6 w-6 fill-white"
            >
              <path
                fill-rule="evenodd"
                d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z"
                clip-rule="evenodd"></path>
            </svg>
          </button>
        </div>
      </div>
    </div>

    <!-- ----------------------------- Bottom text ----------------------------- -->

    <div>
      <p class="xs:text-lg md:text-xl">
        A <span class="font-bold text-accent">high school hackathon</span>
         where you make <span
          id="changingText"
          class="inline-block underline decoration-accent decoration-wavy decoration-1 motion-safe:transition-all motion-safe:duration-200"
          >fun</span
        >
         things to <span class="font-bold text-accent">survive</span> the zombie
        apocalypse.
      </p>
    </div>
  </div>

  <script>
    const changingText = document.getElementById("changingText");
    const words = ["fun", "weird", "wacky"];
    let i = 1;

    setInterval(() => {
      changingText.classList.add("motion-safe:-translate-y-3");
      changingText.classList.add("motion-safe:opacity-0");

      setTimeout(() => {
        changingText.innerText = words[i];
        changingText.classList.remove("motion-safe:-translate-y-3");
        changingText.classList.add("motion-safe:translate-y-3");
        i++;
        if (i >= words.length) i = 0;
      }, 200);

      setTimeout(() => {
        changingText.classList.remove("motion-safe:translate-y-3");
        changingText.classList.remove("motion-safe:opacity-0");
      }, 400);
    }, 5000);

    // The button: run this code when the button is clicked!

    // document.querySelector("#email-button #done").classList.remove("hidden");
    // document.querySelector("#email-button #todo").classList.add("hidden");
  </script>
</header>
