---
import Projects from "./Projects/Projects.svelte";

const futureDate = new Date();
futureDate.setFullYear(futureDate.getFullYear() + 10);

// TODO: TO BE CONFIRMED
const respondDate = new Date("2024-05-10");
const eventDate = new Date("2024-05-24");
---

<div class="-mt-6 h-12 rotate-1 border-t-8 border-accent2 bg-dark-bg"></div>

<article class="flex justify-center px-8 py-10 sm:py-24">
  <section
    id="letter"
    class="flex max-w-5xl grow flex-col space-y-6 border-2 border-accent bg-primary-bg px-6 py-8 text-sm shadow-[16px_16px_rgba(0,0,0,0.3)] sm:space-y-10 sm:px-12 sm:py-8 sm:text-lg md:px-16 md:py-12"
  >
    <!-- ----------------------------- Letterhead ------------------------------ -->
    <div class="text-right text-xl leading-5 md:text-2xl md:leading-6">
      <p>
        {
          futureDate.toLocaleDateString(undefined, {
            year: "numeric",
            month: "long",
            day: "numeric",
          })
        }
      </p>
      <p>
        {Math.round((respondDate.valueOf() - Date.now()) / (24 * 60 * 60 * 1000))} days to
        respond
      </p>
      <p>
        {Math.round((eventDate.valueOf() - Date.now()) / (24 * 60 * 60 * 1000))} days
        until event
      </p>
    </div>

    <!-- --------------------------- Letter Contents --------------------------- -->

    <div class="-mt-8 space-y-4 text-2xl leading-6 md:text-3xl md:leading-7">
      <h3
        class="text-3xl italic drop-shadow-[0_0_8px_#FF5DA9] sm:pt-4 sm:text-4xl md:text-5xl"
      >
        Greetings, hacker.
    </h3>
      <p>
        Just a few months ago, the world fell into a zombie apocalypse. It’s absurd how
        fast civilization has fallen to the virus.
      </p>
      <p>
        Cities have turned to battlefields. Subways and schools have grown infected with
        the fallen.
      </p>
      <p class="italic drop-shadow-[0_0_4px_#FF5DA9]">It's the beginning of the end.</p>
      <p>
        But one thing still stands: technology. WiFi is up, electricity runs, and hardware
        operates.
      </p>
    </div>

    <!-- ----------------------------- Letter CTA ------------------------------ -->

    <div class="justify-center py-4 sm:py-8">
      <div
        class="flex max-w-full grow flex-col gap-2 text-center text-white sm:gap-3 md:gap-4"
      >
        <p class="text-3xl leading-6 sm:text-4xl sm:leading-7 md:text-5xl md:leading-9">
          Join <span class="text-accent">150 hackers</span> like you for
          <span class="text-accent2">42 hours</span> at our safehouse.
        </p>

        <p
          class="text-3xl leading-6 text-white drop-shadow-[0_0_4px_#FF5DA9] sm:text-4xl sm:leading-7 md:text-5xl md:leading-9"
        >
          Build something, <span class="italic">anything</span>, to help us survive this
          apocalypse.
        </p>
      </div>
    </div>

    <!-- <Projects client:load /> -->

    <div class="flex flex-col gap-4">
      <p class="text-2xl leading-6 md:text-3xl md:leading-8">
        So, what will you make? We can't wait to meet you. From the Apocalypse team…
      </p>

      <!-- <div class="md:py-4">
        <hr class="border-purple-200 shadow-inner" style="border-width: 1.5px;" />
      </div> -->

      <img
        src="https://cloud-wnh1ovn1l-hack-club-bot.vercel.app/0main_group.png"
        class="self-center"
      />

      <!-- <p class="self-center text-center font-sans italic text-purple-200">
        Shayaan A, Arhona B, Ryan D, Jason H, Acon L, Sam L, Jenis M, Sarvesh MK, Arav N,
        Emily P, Mutammim S, Evelyn W, Sherry Z
      </p> -->
    </div>
  </section>
</article>

<style>
  #letter {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23ffffff' fill-opacity='0.1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E"),
      linear-gradient(#5b21b6 0%, rgb(64 25 134) 100%);
  }
</style>
