---
import Projects from "./Projects/Projects.svelte";

const futureDate = new Date();
futureDate.setFullYear(futureDate.getFullYear() + 10);

// TODO: TO BE CONFIRMED
const eventDate = new Date("2024-05-17T18:00:00-04:00");
---

<article class="flex justify-center px-8 py-10 sm:py-24">
  <section
    id="letter"
    class="flex max-w-3xl grow flex-col space-y-2 border-2 border-accent bg-primary-bg px-6 py-8 text-sm shadow-[16px_16px_rgba(0,0,0,0.3)] sm:space-y-4 sm:px-12 sm:py-8 sm:text-lg md:col-span-3 md:mx-auto md:px-16 md:py-12"
  >
    <!-- ----------------------------- Letterhead ------------------------------ -->
    <div class="text-right font-sans text-sm leading-5 md:text-base md:leading-6">
      <p>
        {
          futureDate.toLocaleDateString(undefined, {
            year: "numeric",
            month: "long",
            day: "numeric",
          })
        }
      </p>
      <p>
        {Math.round((eventDate.valueOf() - Date.now()) / (24 * 60 * 60 * 1000))} days
        until event
      </p>
    </div>
    <!-- --------------------------- Letter Contents --------------------------- -->
    <div
      class="-mt-8 space-y-4 font-sans text-sm leading-6 sm:space-y-2 md:text-base md:leading-7"
    >
      <p
        class="font-main text-2xl italic drop-shadow-[0_0_8px_#FF5DA9] sm:pt-4 sm:text-3xl md:text-4xl"
      >
        Greetings, hacker.
      </p>
      <p>
        Just a few months ago, the world fell into a zombie apocalypse. It’s absurd how
        fast civilization has fallen to the virus.
      </p>
      <p>
        Cities have turned to battlefields. Subways and schools have grown infected with
        the fallen.
      </p>
      <p class="drop-shadow-[0_0_4px_#FF5DA9]">It's the beginning of the end.</p>
      <p>
        But one thing still stands: technology. WiFi is up, electricity runs, and hardware
        operates.
      </p>
    </div>
    <!-- ----------------------------- Letter CTA ------------------------------ -->
    <div class="justify-center py-2 sm:py-4">
      <div
        class="flex max-w-full grow flex-col gap-1 text-center text-2xl leading-6 text-white sm:gap-3 sm:text-3xl sm:leading-7 md:gap-2 md:text-4xl md:leading-9"
      >
        <p>
          Join <span class="text-accent">150 hackers</span>
           like you for
          <span class="text-accent2">44 hours</span> at our safehouse.
        </p>
        <p class="drop-shadow-[0_0_4px_#FF5DA9]">
          Build something, <span class="italic">anything</span>, to help us survive this
          apocalypse.
        </p>
      </div>
    </div>
    <!-- <Projects client:load /> -->
    <div class="flex flex-col gap-4 font-sans">
      <p class="text-sm leading-6 md:text-base md:leading-8">
        So, what will you make? Humanity is counting on you. From the Apocalypse team...
      </p>
      <img
        src="https://cloud-rmh2nr4am-hack-club-bot.vercel.app/0apo-sig.png"
        class="self-center md:px-12"
      />
    </div>
  </section>
</article>

<style>
  #letter {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23ffffff' fill-opacity='0.1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E"),
      linear-gradient(#5b21b6 0%, rgb(64 25 134) 100%);
  }
</style>
