<div class="bottom-0 z-10 flex h-auto w-screen items-center justify-center p-10">
  <div
    id="outer"
    class="bottom-[2vh] flex w-auto flex-row items-center pixel-corners justify-center bg-gradient-to-r from-[#ff74ba] to-[#6b5ffe] p-1 drop-shadow-[0_0_8px_#200a3d] md:w-auto"
  >
    <div
      class="flex min-h-full w-auto flex-row items-center pixel-corners justify-center bg-[#301c54]"
    >
      <!-- Sidebar -->
      <img
        src="../navbar/home.svg"
        id="homeicon"
        class="images click-shrink m-3 w-[4vh] cursor-pointer transition duration-150 hover:drop-shadow-[0_0_2px_#FF5DA9] focus:scale-150 md:w-[4vh]"
        title="Home"
      />
      <img
        src="../navbar/letter.svg"
        id="lettericon"
        class="images click-shrink m-3 w-[4vh] cursor-pointer transition duration-150 hover:drop-shadow-[0_0_2px_#FF5DA9] md:w-[4vh]"
        title="Letter"
      />
      <img
        src="../navbar/info.svg"
        id="infoicon"
        class="images click-shrink m-3 w-[4vh] cursor-pointer transition duration-150 hover:drop-shadow-[0_0_2px_#FF5DA9] md:w-[4vh]"
        title="Info"
      />
      <img
        src="../navbar/faq.svg"
        id="faqicon"
        class="images click-shrink m-3 w-[4vh] cursor-pointer transition duration-150 hover:drop-shadow-[0_0_2px_#FF5DA9] md:w-[4vh]"
        title="Faq"
      />
    </div>
  </div>
</div>

<style>
  .pixel-corners {
    clip-path: polygon(
      0px calc(100% - 6px),
      3px calc(100% - 6px),
      3px calc(100% - 3px),
      6px calc(100% - 3px),
      6px 100%,
      calc(100% - 6px) 100%,
      calc(100% - 6px) calc(100% - 3px),
      calc(100% - 3px) calc(100% - 3px),
      calc(100% - 3px) calc(100% - 6px),
      100% calc(100% - 6px),
      100% 6px,
      calc(100% - 3px) 6px,
      calc(100% - 3px) 3px,
      calc(100% - 6px) 3px,
      calc(100% - 6px) 0px,
      6px 0px,
      6px 3px,
      3px 3px,
      3px 6px,
      0px 6px
    );
  }

  .click-shrink:active {
    transition: all 0.01s;
    transform: scale(0.5);
  }
</style>

<script>
  document.getElementById("homeicon").addEventListener("click", function () {
    const section = document.getElementById("homesection");
    section.scrollIntoView({ behavior: "smooth" });
  });
  document.getElementById("lettericon").addEventListener("click", function () {
    const section = document.getElementById("letter");
    section.scrollIntoView({ behavior: "smooth" });
  });
  document.getElementById("infoicon").addEventListener("click", function () {
    const section = document.getElementById("infosection");
    section.scrollIntoView({ behavior: "smooth" });
  });
  document.getElementById("faqicon").addEventListener("click", function () {
    const section = document.getElementById("faqsection");
    section.scrollIntoView({ behavior: "smooth" });
  });
</script>