<div class="fixed bottom-0 z-10 flex h-auto w-screen items-center justify-center p-10">
  <div
    id="outer"
    class="fixed bottom-[2%] flex w-auto flex-row items-center justify-center rounded-full bg-gradient-to-b from-[#ff0080] to-[#7928ca] p-1 drop-shadow-[0_0_8px_#200a3d] md:w-1/4"
  >
    <div
      class="flex min-h-full w-full flex-row items-center justify-center rounded-full bg-purple-950"
    >
      <!-- Sidebar -->
      <img
        src="../navbar/home.png"
        id="homeicon"
        class="images click-shrink m-3 w-[4vh] cursor-pointer transition duration-150 hover:drop-shadow-[0_0_2px_#FF5DA9] focus:scale-150 md:w-[4vh]"
        title="Home"
      />
      <img
        src="../navbar/letter.png"
        id="lettericon"
        class="images click-shrink m-3 w-[4vh] cursor-pointer transition duration-150 hover:drop-shadow-[0_0_2px_#FF5DA9] md:w-[4vh]"
        title="Letter"
      />
      <img
        src="../navbar/info.png"
        id="infoicon"
        class="images click-shrink m-3 w-[4vh] cursor-pointer transition duration-150 hover:drop-shadow-[0_0_2px_#FF5DA9] md:w-[4vh]"
        title="Info"
      />
      <img
        src="../navbar/faq.png"
        id="faqicon"
        class="images click-shrink m-3 w-[4vh] cursor-pointer transition duration-150 hover:drop-shadow-[0_0_2px_#FF5DA9] md:w-[4vh]"
        title="Faq"
      />
    </div>
  </div>
</div>

<script>
  document.getElementById("homeicon").addEventListener("click", function () {
    const section = document.getElementById("homepart");
    section.scrollIntoView({ behavior: "smooth" });
  });
  document.getElementById("lettericon").addEventListener("click", function () {
    const section = document.getElementById("letter");
    section.scrollIntoView({ behavior: "smooth" });
  });
  document.getElementById("infoicon").addEventListener("click", function () {
    const section = document.getElementById("infosection");
    section.scrollIntoView({ behavior: "smooth" });
  });
  document.getElementById("faqicon").addEventListener("click", function () {
    const section = document.getElementById("faqsection");
    section.scrollIntoView({ behavior: "smooth" });
  });
</script>

<style>
  .images {
    display: flex;
    align-items: center;
    margin-top: 3vh;
    margin-bottom: 3vh;
  }
  .click-shrink:active {
    transition: all 0.01s;
    transform: scale(0.5);
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const element = document.getElementById("outer");

    let isScrolling = false;

    function toggleVisibility() {
      if (isScrolling) {
        element.style.transition = "opacity 0.5s";
        element.style.opacity = "0";
      } else {
        element.style.transition = "opacity 0.5s";
        element.style.opacity = "1";
      }
    }

    window.addEventListener("scroll", function () {
      isScrolling = true;
      toggleVisibility();

      timeout = setTimeout(function () {
        isScrolling = false;
        toggleVisibility();
      }, 200);
      clearTimeout(timeout);
    });

    toggleVisibility();
  });
</script>
