<div
  class="fixed bottom-0 z-10 flex h-screen w-screen items-center justify-center p-10 md:justify-start"
>
  <div
    class="fixed bottom-[2%] flex w-auto flex-row items-center justify-center rounded-full bg-gradient-to-b from-[#ff0080] to-[#7928ca] p-1 drop-shadow-[0_0_8px_#200a3d] md:bottom-auto md:w-[5vw] md:flex-col md:justify-between md:p-[5px]"
  >
    <div
      class="flex min-h-full w-full flex-row items-center justify-center rounded-full bg-purple-950 md:min-h-full md:flex-col"
    >
      <!-- Sidebar -->
      <img
        src="../navbar/home.png"
        id="homeicon"
        class="images m-3 cursor-pointer transition duration-150 hover:drop-shadow-[0_0_2px_#FF5DA9] md:m-3"
        alt="Home"
      />
      <img
        src="../navbar/letter.png"
        id="lettericon"
        class="images m-3 cursor-pointer transition duration-150 hover:drop-shadow-[0_0_2px_#FF5DA9] md:m-3"
        alt="Letter"
      />
      <img
        src="../navbar/info.png"
        id="infoicon"
        class="images m-3 cursor-pointer transition duration-150 hover:drop-shadow-[0_0_2px_#FF5DA9] md:m-3"
        alt="Info"
      />
      <img
        src="../navbar/faq.png"
        id="faqicon"
        class="images m-3 cursor-pointer transition duration-150 hover:drop-shadow-[0_0_2px_#FF5DA9] md:m-3"
        alt="Faq"
      />
    </div>
  </div>
</div>

<script>
  document.getElementById("homeicon").addEventListener("click", function () {
    const section = document.getElementById("homepart");
    section.scrollIntoView({ behavior: "smooth" });
  });
  document.getElementById("lettericon").addEventListener("click", function () {
    const section = document.getElementById("letter");
    section.scrollIntoView({ behavior: "smooth" });
  });
  document.getElementById("infoicon").addEventListener("click", function () {
    const section = document.getElementById("infosection");
    section.scrollIntoView({ behavior: "smooth" });
  });
  document.getElementById("faqicon").addEventListener("click", function () {
    const section = document.getElementById("faqsection");
    section.scrollIntoView({ behavior: "smooth" });
  });
</script>

<style>
  .images {
    display: flex;
    align-items: center;
    height: 4vh;
    width: 4vh;
    margin-top: 3vh;
    margin-bottom: 3vh;
  }
</style>
