<div class="z-10 flex h-auto w-screen items-center justify-center p-5 md:p-10">
  <div
    id="outer"
    class="pixel-corners flex w-auto flex-row items-center justify-center bg-gradient-to-r from-accent2 to-accent p-1 drop-shadow-[0_0_8px_#200a3d]"
  >
    <div
      class="pixel-corners flex min-h-full w-auto flex-row flex-wrap items-center justify-center bg-dark-bg"
    >
      <!-- Sidebar -->
      <div class="flex flex-col items-center p-2 md:ml-4 md:mr-4 lg:ml-3 lg:mr-3">
        <h2 class="font-main text-base">HOME</h2>
        <img
          src="/public/navbar/home.svg"
          id="homeicon"
          class="images w-8 cursor-pointer p-1 transition duration-150 hover:drop-shadow-[0_0_2px_#FF5DA9] focus:scale-150 motion-safe:transition-all motion-safe:active:scale-50"
          title="Home"
        />
      </div>
      <div class="flex flex-col items-center p-2 md:ml-4 md:mr-4 lg:ml-3 lg:mr-3">
        <h2 class="font-main text-base">LETTER</h2>
        <img
          src="/public/navbar/letter.svg"
          id="lettericon"
          class="images w-8 cursor-pointer p-1 transition duration-150 hover:drop-shadow-[0_0_2px_#FF5DA9] focus:scale-150 motion-safe:transition-all motion-safe:active:scale-50"
          title="Letter"
        />
      </div>
      <div class="flex flex-col items-center p-2 md:ml-4 md:mr-4 lg:ml-3 lg:mr-3">
        <h2 class="font-main text-base">INFO</h2>
        <img
          src="/public/navbar/info.svg"
          id="infoicon"
          class="images w-8 cursor-pointer p-1 transition duration-150 hover:drop-shadow-[0_0_2px_#FF5DA9] focus:scale-150 motion-safe:transition-all motion-safe:active:scale-50"
          title="Info"
        />
      </div>
      <div class="flex flex-col items-center p-2 md:ml-4 md:mr-4 lg:ml-3 lg:mr-3">
        <h2 class="font-main text-base">FAQ</h2>
        <img
          src="/public/navbar/faq.svg"
          id="faqicon"
          class="images w-8 cursor-pointer p-1 transition duration-150 hover:drop-shadow-[0_0_2px_#FF5DA9] focus:scale-150 motion-safe:transition-all motion-safe:active:scale-50"
          title="Faq"
        />
      </div>
    </div>
  </div>
</div>

<style>
  .pixel-corners {
    clip-path: polygon(
      0px calc(100% - 6px),
      3px calc(100% - 6px),
      3px calc(100% - 3px),
      6px calc(100% - 3px),
      6px 100%,
      calc(100% - 6px) 100%,
      calc(100% - 6px) calc(100% - 3px),
      calc(100% - 3px) calc(100% - 3px),
      calc(100% - 3px) calc(100% - 6px),
      100% calc(100% - 6px),
      100% 6px,
      calc(100% - 3px) 6px,
      calc(100% - 3px) 3px,
      calc(100% - 6px) 3px,
      calc(100% - 6px) 0px,
      6px 0px,
      6px 3px,
      3px 3px,
      3px 6px,
      0px 6px
    );
  }
</style>

<script>
  function scrollToSection(sectionId) {
    const section = document.getElementById(sectionId);
    const prefersReducedMotion = window.matchMedia(
      "(prefers-reduced-motion: reduce)"
    ).matches;

    if (prefersReducedMotion) {
      section.scrollIntoView({ behavior: "auto" });
    } else {
      section.scrollIntoView({ behavior: "smooth" });
    }
  }

  document.getElementById("homeicon").addEventListener("click", function () {
    scrollToSection("homesection");
  });

  document.getElementById("lettericon").addEventListener("click", function () {
    scrollToSection("letter");
  });

  document.getElementById("infoicon").addEventListener("click", function () {
    scrollToSection("infosection");
  });

  document.getElementById("faqicon").addEventListener("click", function () {
    scrollToSection("faqsection");
  });
</script>
