<div class="z-10 flex h-auto w-screen items-center justify-center md:mt-8">
  <div
    id="outer"
    class="pixel-corners flex w-auto flex-row items-center justify-center bg-gradient-to-r from-accent2 to-accent p-1 drop-shadow-[0_0_8px_#200a3d]"
  >
    <div
      class="pixel-corners grid min-h-full w-auto grid-cols-3 items-center justify-center gap-x-8 bg-dark-bg px-8 py-4 sm:gap-x-12 sm:px-12 sm:py-5"
    >
      <!-- Sidebar -->
      <!-- <div class="flex flex-col items-center">
        <h2 class="font-main text-base">HOME</h2>
        <img
          src="/navbar/home.svg"
          id="homeIcon"
          class="h-8 w-8 cursor-pointer p-1 duration-150 hover:drop-shadow-[0_0_2px_#FF5DA9] motion-safe:transition-all motion-safe:hover:scale-110 motion-safe:active:scale-100"
          title="Home"
        />
      </div> -->
      <div class="flex flex-col items-center">
        <h2 class="font-main text-base">LETTER</h2>
        <img
          src="/navbar/letter.svg"
          id="letterIcon"
          class="h-8 w-8 cursor-pointer p-1 duration-150 hover:drop-shadow-[0_0_2px_#FF5DA9] motion-safe:transition-all motion-safe:hover:scale-110 motion-safe:active:scale-100"
          title="Letter"
        />
      </div>
      <div class="flex flex-col items-center">
        <h2 class="font-main text-base">INFO</h2>
        <img
          src="/navbar/info.svg"
          id="infoIcon"
          class="h-8 w-8 cursor-pointer p-1 duration-150 hover:drop-shadow-[0_0_2px_#FF5DA9] motion-safe:transition-all motion-safe:hover:scale-110 motion-safe:active:scale-100"
          title="Info"
        />
      </div>
      <div class="flex flex-col items-center">
        <h2 class="font-main text-base">FAQ</h2>
        <img
          src="/navbar/faq.svg"
          id="faqIcon"
          class="h-8 w-8 cursor-pointer p-1 duration-150 hover:drop-shadow-[0_0_2px_#FF5DA9] motion-safe:transition-all motion-safe:hover:scale-110 motion-safe:active:scale-100"
          title="FAQ"
        />
      </div>
    </div>
  </div>
</div>

<style>
  .pixel-corners {
    clip-path: polygon(
      0px calc(100% - 6px),
      3px calc(100% - 6px),
      3px calc(100% - 3px),
      6px calc(100% - 3px),
      6px 100%,
      calc(100% - 6px) 100%,
      calc(100% - 6px) calc(100% - 3px),
      calc(100% - 3px) calc(100% - 3px),
      calc(100% - 3px) calc(100% - 6px),
      100% calc(100% - 6px),
      100% 6px,
      calc(100% - 3px) 6px,
      calc(100% - 3px) 3px,
      calc(100% - 6px) 3px,
      calc(100% - 6px) 0px,
      6px 0px,
      6px 3px,
      3px 3px,
      3px 6px,
      0px 6px
    );
  }
</style>

<script>
  function scrollToSection(sectionId) {
    const section = document.getElementById(sectionId);
    const prefersReducedMotion = window.matchMedia(
      "(prefers-reduced-motion: reduce)"
    ).matches;

    if (prefersReducedMotion) {
      section.scrollIntoView({ behavior: "auto" });
    } else {
      section.scrollIntoView({ behavior: "smooth" });
    }
  }

  document.getElementById("homeIcon").addEventListener("click", function () {
    scrollToSection("homesection");
  });

  document.getElementById("letterIcon").addEventListener("click", function () {
    scrollToSection("letter");
  });

  document.getElementById("infoIcon").addEventListener("click", function () {
    scrollToSection("infosection");
  });

  document.getElementById("faqIcon").addEventListener("click", function () {
    scrollToSection("faqsection");
  });
</script>
