---
interface Props {
  title: string;
}

const { title } = Astro.props;

// import SpeedInsights from "@vercel/speed-insights/astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta property="og:title" content="Apocalypse" />
    <meta property="og:site_name" content="Apocalypse" />
    <meta
      name="description"
      content="Apocalypse is a high school hackathon in Toronto where you hack your survival!"
    />
    <meta
      name="twitter:description"
      content="Apocalypse is a high school hackathon in Toronto where you hack your survival!"
    />
    <meta
      property="og:description"
      content="Apocalypse is a high school hackathon in Toronto where you hack your survival!"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <link rel="icon" type="image/png" href="/favicon.png" />
    <title>{title}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  </head>
  <body>
    <slot />
    <!-- <SpeedInsights /> -->
  </body>
</html>

<style is:global>
  body {
    @apply overflow-x-clip bg-dark-bg font-main text-purple-50;
  }

  @font-face {
    font-family: "NeueBit-Bold";
    src:
      url("/fonts/NeueBit-Bold.woff2") format("woff2"),
      url("/fonts/NeueBit-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: block;
    /* TODO: block is a little controversial, but swap feels more jarring */
  }

  @font-face {
    font-family: "Geist";
    src: url("/fonts/Geist-UltraBlack.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
    font-display: block;
  }
  @font-face {
    font-family: "Geist";
    src: url("/fonts/Geist-Black.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
    font-display: block;
  }

  @font-face {
    font-family: "Geist";
    src: url("/fonts/Geist-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: block;
  }

  @font-face {
    font-family: "Geist";
    src: url("/fonts/Geist-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: block;
  }

  @font-face {
    font-family: "Geist";
    src: url("/fonts/Geist-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: block;
  }

  @font-face {
    font-family: "Geist";
    src: url("/fonts/Geist-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }

  @font-face {
    font-family: "Geist";
    src: url("/fonts/Geist-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: block;
  }

  @font-face {
    font-family: "Geist";
    src: url("/fonts/Geist-UltraLight.woff2") format("woff2");
    font-weight: 200;
    font-style: normal;
    font-display: block;
  }

  @font-face {
    font-family: "Geist";
    src: url("/fonts/Geist-Thin.woff2") format("woff2");
    font-weight: 100;
    font-style: normal;
    font-display: block;
  }

  /* @font-face {
    font-family: "NeueMontreal";
    src: url("/fonts/NeueMontreal-Medium.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "NeueMontreal";
    src: url("/fonts/NeueMontreal-Bold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  } */
</style>
