---
import SponsorCard from "./SponsorCard.astro";
---

<section class="flex justify-center">
  <div class="flex max-w-5xl grow flex-col gap-12 px-4 pb-24 pt-12 text-center text-2xl">
    <div>
      <h3 class="text-6xl drop-shadow-[0_0_8px_#FF5DA9]">Venue</h3>
    </div>

    <!-- The images are already cropped to brand guidelines, do NOT crop smaller or change colour -->
    <!-- Some padding is added to make spacing consistent -->
    <div class="grid grid-cols-1 gap-6 md:grid-cols-2">
      <SponsorCard
        name="Shopify"
        img="/sponsors/Shopify-Logo.png"
        href="https://shopify.ca/"
        class="flex items-center justify-center md:col-span-2"
        innerclass="max-w-lg"
      />
    </div>
  </div>
</section>
